/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
// Стили для файла с примером HTML-фрагмента

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.movie-list{
  padding: 0;
  list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -30px;
    @media (max-width:768px) {
    display: block;
    text-align:center;
    }

}
.movie-wrapper{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 480px;
    @media (min-width:768px) {
      max-width: 768px;
    }
    @media (min-width:1024px) {
      max-width: 1024px;
    }
}
.movie-item{
  margin-bottom: 30px;
&:last-child{
    margin-bottom: 0;
}
@media (min-width:768px) {
width: calc((100% - 2 * 30px) / 2);
margin-right: 30px;
margin-bottom: 30px;
&:nth-child(2n){
    margin-right: 0;
}
&:last-child{
    margin-bottom: 0px;
    margin-right: 0px;
}
}
@media (min-width:1024px) {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n){
    margin-right: 30px;
    }
    &:nth-child(3){margin-right: 0;}
    &:nth-child(6){margin-right: 0;}
    &:nth-child(9){margin-right: 0;}
    &:nth-child(n+7){
        margin-bottom: 0;
    }

}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

.movie-img{
  max-height: 400px;
  max-width: 290px;
  position: relative;
  overflow: hidden;
}
span{
  margin-left: 10px;
}

.movie-link {
display: flex;
flex-direction: column;
justify-content: center;
@media (max-width:768px) {
align-items: center;
}
height: 100%;
text-decoration: none;
}

.movie-name {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: black;

}
.genre {
  color: #FF6B08;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

}
