<div class="modal modal--transform" data-modal >
    <button class="btn-close" type="button" data-modal-close>
        <svg class="btn-close__icon" width="30" height="30">
            <path d="M8 8L22 22" stroke="black" stroke-width="2" />
            <path d="M8 22L22 8" stroke="black" stroke-width="2" />
        </svg>
    </button>
    <div class="modal-poster">
        <img src="./images/Rectangle 18.jpeg" width="396" alt="" class="preview" />
    </div>
    
    <div class="modal-content">
        <h2 class="modal-title">{{title}}A FISTFUL OF LEAD</h2>
        <table class="modal-table">
            <tbody>
                <tr>
                    <td class="nomination">Vote/Votes</td>
                    <td class="data"><span class="raiting">{{vote_average}}</span>/ 1260</td>
                </tr>

                <tr>
                    <td class="nomination">Popularity</td>
                    <td class="data">100.2</td>
                </tr>

                <tr>
                    <td class="nomination">Original Title</td>
                    <td class="data">A FISTFUL OF LEAD</td>
                </tr>

                <tr>
                    <td class="nomination">Genre</td>
                    <td class="data">Lorem</td>
                </tr>
            </tbody>
        </table>
        <h3 class="description-title">ABOUT</h3>
        <p class="text-description">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <button class="btn-watched" type="submit">ADD TO WATCHED</button>
        <button class="btn-queue" type="submit">ADD TO QUEUE</button>
    </div>
   
</div>
