<header class="page-header-library">
    <div class="header-container container">
        <div class="header-logo">
    <svg width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
    </svg>
    <h1 class="site-name">Filmoteka</h1></div>
    <nav class="navigation">
            <button type="button" class="navigation__button ">HOME</button></li>
            <button type="button" class="navigation__button navigation__button--current">MY LIBRARY</button></li>
        </nav> 
    </div>
<div class ="movies_watched">

    <button type="button" class="library__button library__button--current">WATCHED</button></li>
            <button type="button" class="library__button ">QUEUE</button></li>
</div>
</form>
</header>