.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  padding: 20px;
  overflow-y: scroll;
}
.body-overflow {
  overflow: hidden;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // @media screen and (min-width: 380px) and(max-width:768px) {
  //   width: 100%;
  //   width: 380px;
  // }
  @media screen and (min-width: 768px) {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    min-width: 680px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 882px;
  }
}

.btn-close {
  @media screen and (max-width: 768px) {
    top: 20px;
    right: 20px;
  }
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  margin-left: auto;

  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-close__icon {
  fill: var(--action-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--action-color);
  }
}

.modal-container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.modal-poster {
  margin-right: 0px;
}

.movie-img.movie-img__modal {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-content {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 500;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    line-height: 1.17;
    letter-spacing: 0em;
    text-align: left;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.modal-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 1024px) {
    width: 70%;
  }
}

.nomination {
  color: var(--modal-action-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
}

.data {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
}

.raiting {
  min-width: 36px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
}

.raiting-slesh {
  margin-right: 7px;
}

td {
  padding-bottom: 10px;
}

.nomination-genres,
.data-genres {
  padding-bottom: 0;
}

.description-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
}

.text-description {
  margin-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0em;
  text-align: left;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.btn-watched {
  @media screen and (min-width: 320px) {
    min-width: 112px;
  }
  margin-right: 15px;
  // min-width: 112px;
  border: none;
  background-color: var(--action-color);
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-watched__text {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: center;
}
.btn-queue {
  @media screen and (min-width: 320px) {
    min-width: 112px;
  }
  margin-right: auto;
  border: 1px solid var(--primary-text-color);
  // min-width: 136px;
  background-color: var(--secondary-text-color);
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-queue__text {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: center;
}
